.hero__content h2 {
  font-weight: 600;
  line-height: 55px;
}

.hero__content {
  padding-top: 80px;
  /* border: 1px solid red; */
}
/* .search input {
  border: none;
  outline: none;
  padding: 7px 10%;
} */

.search {
  width: 60%;
  /* border: 1px solid #17bf9d44; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  margin-top: 20px;
}

.search button{
  background-color: var(--color3);
  width: 120px;
  height: 50px;
  border-radius: 12px;
  border: none;
  color: white;
  font-weight: bolder;
}
.search button:hover{
  background-color: var(--color4);
}
